#section1{
    background-image: url("https://blogger.googleusercontent.com/img/a/AVvXsEgWfhmsqwj-sGb6R5EpSCdseX2h3P5MkgxBsWuXjO4vyOc-Nb2S3NPY4-Ot96VgnYUxH0vsdGT_cdg-fJgCo1Vktl9uhmXqVNGYxb8OQW_wNRzTBnwyCV4BBIC20-CJBjrP8g4FBRvBPtdZuy7lIrvID16eL05bsRKQKK6hUg7UJgLhZu9j1kG6KrAL0uhN=s16000-rw");
    
    background-size: cover;
}
